.red-text {
  color: red;
}

.large-text {
  font-family: lobster;
  font-size: 45px;
}

.meduim-text {
	font-size: 25px;
}

.small-text {
	font-size: 15px;
}

.black-background {
	background-color: black; 
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}




.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: 30px;
	margin-left: 30px;
}