/*=======================================*/
/*color or my text*/
/*=======================================*/

.red-text {
  color: red;
}
.white-text {
	color: white;
}
.pink-text {
	color: pink;
}
.yellow-text {
	color: yellow;
}
.green-text {
	color: green;
}


/*=======================================*/
/*size or my text*/
/*=======================================*/


.large-text {
  font-family: lobster;
  font-size: 45px;
}

.meduim-text {
	font-size: 25px;
}

.small-text {
	font-size: 15px;
}

.hi-chua {
	font-size: 100px;
}


/*=======================================*/
/*Margin and padding*/
/*=======================================*/


.black-background {
	background-color: black; 	
}
.flower-background {
	background-image: img src="img/flower.jpg";
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: 30px;
	margin-left: 30px;
}

.wala-sa-nav {
	margin-top: 50px;

}